**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/node_modules
**/.env
**/.env.example
**/.editorconfig
**/.aws
**/build
**/.eslintignore
**/.eslintrc.json
**/.gitignore
**/.nvmrc
**/.prettierrc.json
**/Dockerfile.prod
**/jest.config.ts
**/.docker-rgs
